@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.mdx-editor {
  color: #ffffff !important;
}

.my-classname {
  /* background-color: var(--background) !important; */
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  color: var(--foreground) !important;
  /* border-radius: 0px !important; */
  /* background-color: rgba(255, 255, 255, 0.7) !important; */
}

.mdx-editor h1 {
  color: #ffffff !important;
}

.mdx-editor h2 {
  color: #ffffff !important;
}
